{% extends "base.html" %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Superhero Details</title>
  </head>
  <body>
    {% block content %}
    <a href="{% url 'superheroes:index' %}">Return to Superheroes List</a><br />
    <h1 class="my-5">{{hero.name}}</h1>
    <ul>
      <li>
        <h3>Alter Ego:</h3>
        {{hero.alter_ego}}
      </li>
      <li>
        <h3>Primary Ability:</h3>
        {{hero.primary_ability}}
      </li>
      <li>
        <h3>Secondary Ability:</h3>
        {{hero.secondary_ability}}
      </li>
      <li>
        <h3>Catch Phrase:</h3>
        {{hero.catch_phrase}}
      </li>
    </ul>
    <a href="{% url 'superheroes:update' hero.id %}">Update this Hero</a><br />
    <a href="">Delete this Hero</a><br />
    {% endblock %}
  </body>
</html>
