<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Superhero Details</title>
  </head>
  <body>
    <h1>{{hero.name}}</h1>
    <ul>
      <li>Alter Ego: {{hero.alter_ego}}</li>
      <li>Primary Ability: {{hero.primary_ability}}</li>
      <li>Secondary Ability: {{hero.secondary_ability}}</li>
      <li>Catch Phrase: {{hero.catch_phrase}}</li>
    </ul>
  </body>
</html>
