{% extends "base.html" %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Update Superhero</title>
  </head>
  <body>
    {% block content %}
    <h1>Update your Superhero</h1>
    <form action="{% url 'superheroes:update' hero.id %}" method="post">
      {% csrf_token %} Name:
      <input type="text" name="name" id="name" value="{{hero.name}}" /><br />
      Alter Ego:
      <input
        type="text"
        name="alter_ego"
        id="alter_ego"
        value="{{hero.alter_ego}}"
      /><br />
      Primary Ability:
      <input
        type="text"
        name="primary"
        id="primary"
        value="{{hero.primary_ability}}"
      /><br />
      Secondary Ability:
      <input
        type="text"
        name="secondary"
        id="secondary"
        value="{{hero.secondary_ability}}"
      /><br />
      Catchphrase:
      <input
        type="text"
        name="catchphrase"
        id="catchphrase"
        value="{{hero.catch_phrase}}"
      /><br />
      <input type="submit" value="Update!" />
    </form>
    {% endblock %}
  </body>
</html>
